

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

 
  body{
    height: 100%;
    width: 100%;
      background-color: white;
      display: inline;
      align-items: center;
      justify-content: center;
      
  }
  header{
     max-width: 70%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 3%;
    margin-left: 12%;
  }

  header img{
     height: 10%;
     width: 10%;
  }

  header h1{
    text-align: center;
    font-size: 3.2vw;
    color: rgb(53, 52, 52);
    padding-left: 10px;
  }

  main{
    max-width: 750px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20%;
    margin-bottom: 0%;
  }
  
  .btnajout {
    background-color: white;
    border: 1px solid rgb(46, 46, 46);
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-bottom: 20px;
  }
 /* @media only screen and (max-width: 650px){
    .btnajout {
        width:40%;
        text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  right: 20%;
  
    }
  }*/
  

  
  
  .btnajout:hover, .btnajout:active{

    background-color: rgb(132, 134, 132);
    color: white;
  }

  table {
    table-layout: fixed;
    border: medium solid;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
  }
  @media only screen and (max-width: 650px){
    table {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 20%;
    }
  } 
  table th {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(121, 121, 121);
    padding: 15px;
    color: white;
}
table tr:nth-child(2n){
    background-color: rgb(207, 209, 207);
}

  table td{
    border: 1px solid rgb(0, 0, 0) ;
    background-color: rgb(195, 194, 194);
    padding: 15px;

}

 /* table .tr{
      width: 70px;

  }*/
  table td .btn_btn{
      display: inline-flex;
      align-items: center;
     justify-content: center;
    text-decoration: none;
    color: black;
    margin: 2%;
    width: 70px;

    border-right: 1px solid rgb(0, 0, 0);
  }

  footer{
    border: 1px solid ;
    width: auto; 
    height: 70px;
    background-color: rgb(83, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0 2px;
    
   
  }
  footer img{
   
    width: 20px;
    height: 20px;
  }
  footer p{
    color: rgb(13, 13, 14);
}


      /*****add*******/

.box_add{
    border: 1px solid;
    background-color: rgb(235, 236, 240);
    max-width: 50%;
    height: 380px;
     display:flex;
     align-items: center;
     justify-content: center;
     margin-left: 24%;
     padding: 10%;
}

.texta{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.textarea{
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}
.labpro{
color: rgb(65, 65, 66);
}
.lapdesc{
color: rgb(60, 60, 61);
}
.sub{
  border: 1px solid;
  width: 100px;
  height: 40px;border-radius: 5%;

  margin-left: 44%;
}
/*****modefier*******/
.box_edit{
  border: 1px solid;
  background-color: rgb(235, 236, 240);
  max-width: 50%;
  height: 380px;
   display:flex;
   align-items: center;
   justify-content: center;
   margin-left: 24%;
   padding: 10%;
}
.labprojet{
  color: rgb(65, 65, 66);
}
.lapdescription{
  color: rgb(65, 65, 66);
}
.submit{
  border: 1px solid;
  width: 100px;
  height: 40px;border-radius: 5%;

  margin-left: 44%;
}

/*****voir*******/
.voi{
  border: 0px solid;
  background-color: rgb(255, 255, 255);
  max-width: 50%;
  height: 380px;
   display:block;
   align-items: center;
   justify-content: center;
   margin-left: 24%;
  
   padding: 10%;
}
.look{
  
  text-transform: uppercase;
  color: #0a0a0a;
  position: relative;
  bottom: 100%;
  right: 10%;
  padding-bottom: 50px;
}
.looks{
  color: #353535;
  font-size: 1vw;
  position: relative;
  bottom: 80%;
  right: 10%;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

